.about {
  height: 100%;
  display: flex;
  flex-direction: column;
  .contributors {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    div{
    border: 1px solid rgb(136, 42, 136);
    width: 20%;
    height: 20%;
    margin: 20px;
    padding: 10px;
  }}
}
