@import '.././../styles/partials/variables';

.login_container {
  display: flex;
  height: 100%;
  width: 100%;
  font-family: $primary-font;

  .img_container {
    height: 100%;
    width: 40%;

    img {
      padding-top: 5rem;
      height: 100%;
      width: 100%;
    }
    a {
      text-decoration: none;
      color: rgb(126, 87, 194);
      padding-left: 5rem;
      font-size: 0.8rem;
    }
  }
  .login {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 2rem;
      margin-bottom: 1.4rem;
    }
    .login_form {
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        input {
          padding: 1rem;
          margin: 0.5rem;
          width: 300px;
          border: none;
          border-radius: 30px;
          background-color: #e5e5e5;
        }
        .error_message {
          padding: 0.2rem;
          color: rgb(139, 9, 226);
          font-size: 0.8rem;
        }
      }
      .submit {
        input {
          background-color: rgb(126, 87, 194);
          color: white;
          font-size: 1rem;
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: 0.8px;
          border: none;
          margin: 0.5rem;

          width: 300px;
          cursor: pointer;
          &:hover {
            background-color: rgb(63, 7, 100);
          }
        }
      }
    }
  }
  .connect {
    p {
      text-align: center;
    }
    .icons {
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        padding: 1rem;
        cursor: pointer;
        font-size: 2rem;
      }
    }
  }
  .register {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .login_container {
    margin-top: 3rem;
    .img_container {
      display: none;
    }
    .login {
      width: 100%;
      margin-top: 2rem;
      h1 {
        font-size: 1.5rem;
      }

      p {
        font-size: 1rem;
        padding: 1rem;
      }
    }
  }
}
