@import '.././../styles/partials/variables';

.register_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: $primary-font;
  overflow: hidden;
  .img_container {
    height: 100%;
    width: 40%;

    img {
      padding-top: 5rem;
      height: 100%;
      width: 100%;
    }
    a {
      text-decoration: none;
      color: rgb(126, 87, 194);
      padding-left: 5rem;
      font-size: 0.8rem;
    }
  }

  .register {
    margin-top: 5rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1,
    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
      text-align: center;
    }
    p {
      padding: 1rem;
    }
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      input {
        padding: 1rem;
        margin: 0.5rem;
        width: 300px;
        border: none;
        border-radius: 30px;
        background-color: #e5e5e5;
      }
      .error_message {
        padding: 0.2rem;
        color: rgb(139, 9, 226);
        font-size: 0.8rem;
      }
    }
    .submit {
      input {
        background-color: rgb(126, 87, 194);
        color: white;
        font-size: 1rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        border: none;
        margin: 0.5rem;
        width: 300px;
        cursor: pointer;
        &:hover {
          background-color: rgb(63, 7, 100);
        }
      }
    }
  }
  .connect {
    .connect_p{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      p{
      &:nth-of-type(2){
        font-size: 0.7rem;
        color:rgb(126, 87, 194);
        padding: 0 1rem;
        text-align: center;
        width: 500px;
      }}
    }
    .icons {
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        padding: 1rem;
        padding-top: 3rem;
        cursor: pointer;
        font-size: 2rem;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .register_container {
    .connect{
    .connect_p{
       p{
      &:nth-of-type(2){
        font-size: 0.7rem;
        color:rgb(126, 87, 194);
        padding: 0 1rem;
        text-align: center;
        width: 300px;
      }}}
    }
    .img_container {
      display: none;
    }
    .register {
      width: 100%;
      margin-top: 2rem;
      h1,
      h2 {
        font-size: 1.5rem;
      }
      h2 {
        color: rgb(126, 87, 194);
      }
      p {
        font-size: 1rem;
       padding: 1rem;
      }
    }
  }
}
