@import '../../styles/partials/variables';
@import '../../styles/partials/mixin';
.medium_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: $primary-font;
  background-color: rgba(212, 227, 235, 0.944);
  padding: 4rem 2rem;

  &_left {
    &_title {
      @include center_title_text;
      font-size: 3rem;
      letter-spacing: 0.2rem;
      padding: 0;
      text-align: start;
    }
    &_text {
      padding: 1rem 1rem 1rem 0rem;
      line-height: 2rem;
      font-size: 1.4rem;
    }

    .arrow {
      width: 16rem;
      height: 2rem;
      display: flex;

      &::before {
        content: '';
        background: $primary-gradient;
        width: 1.5rem;
        clip-path: polygon(
          0 0.625rem,
          calc(100% - 1.5rem) 0.625rem,
          calc(100% - 1.5rem) 0,
          100% 50%,
          calc(100% - 1.5rem) 100%,
          calc(100% - 1.5rem) calc(100% - 0.625rem),
          0 calc(100% - 0.625rem)
        );
        animation: arrowSlide 5s forwards linear;
      }
      @keyframes arrowSlide {
        90%,
        100% {
          flex-grow: 1;
        }
      }
    }
  }

  &_right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .medium_container {
    flex-wrap: wrap;
    &_left {
      &_title {
        font-size: 1.5rem;
      }
      &_text {
        font-size: 1rem;
      }
      .arrow {
        display: none;
      }
    }
    &_right {
      flex-wrap: wrap;
    }
  }
}
