@import '../../styles/partials/variables';

.card_container {
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  height: 23rem;
  width: 15rem;
  margin: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 15%);
  scroll-snap-align: start;
  transition: all 0.2s;
  background: rgba(18, 37, 99, 0.85);
  border-radius: 0.8rem;
  border: 1px solid rgba(255, 255, 255, 0.18);

  .cover {
    height: 80%;
    width: 90%;
  }

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  &_title {
    font-size: $primary-font-size;
    padding-top: 1rem;
    margin: 0 1rem;
    color: $off-white-text;
    max-width: 11.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

@media screen and (max-width: 1200px) {
  .card_container {
    height: 19rem;
    width: 12rem;
    &_title {
      max-width: 7rem;
    }
  }
}

@media screen and (max-width: 1000px) {
  .card_container {
    height: 16rem;
    width: 12rem;
  }
}
@media screen and (max-width: 768px) {
  .card_container {
    height: 18rem;
    width: 12rem;
  }
}
