@import '../../../../styles/partials/variables';
.search_results {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  padding-top: 2rem;
  .results_container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    .results_card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 250px;
      height: 350px;
      h4 {
        margin-top: 0.5rem;
        text-align: center;
      }
    }
  }
}

.buttons_container {
  margin: 1rem;
  position: relative;
  width: 100vw;
  text-align: center;
}

.button {
  font-family: inherit;
  font-size: $title-page-h2-font-size;
  text-transform: none;
  border: 0;
  background: none;
  margin: 0.2rem 1rem;
  &:hover {
    cursor: pointer;
  }
}

.active {
  text-decoration: underline;
  font-weight: bold;
}
