@import '../../styles/partials/variables';

.main_container {
  font-family: $primary-font;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #f5f5f5;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 35%;
    border-bottom: 2px solid $primary-blue;

    .image {
      width: 85%;
      height: 100%;
      background: $primary-gradient;
      opacity: 0.8;
      clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 4rem;
      color: whitesmoke;
      .avatar {
        width: 200px;
        height: 200px;

        .new_circle {
          width: 150px;
          height: 150px;
          font-size: 4rem;
          border-radius: 50%;
          border: 2px solid rgb(126, 87, 194);
          display: flex;
          justify-content: center;
          align-items: center;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
          border: 2px solid rgb(126, 87, 194);
        }
      }
      .profile_info {
        padding-left: 3rem;
        h2 {
          text-align: center;
        }
        p {
          padding: 2rem;
        }
      }
      .hidden_icon {
        display: none;
      }
    }

    .settings {
      width: 15%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 3rem;
      clip-path: polygon(100% 0, 35% 0, 0 100%, 100% 100%);
      top: 0;
      right: 0;
      background: $primary-gradient;
    }
    .icon {
      cursor: pointer;
      font-size: 70px;
      color: rgb(126, 87, 194);
      padding-right: 3rem;
      &:hover {
        color: $primary-blue;
      }
      p {
        font-size: 1rem;
      }
    }
  }

  .choose_collection {
    width: 100%;
    height: 100px;
    display: flex;
    background-color: rgb(224, 219, 227);
    div {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: 2px solid whitesmoke;
    }
  }

  .movie,
  .tvShow,
  .books {
    padding: 5rem;

    p {
      color: whitesmoke;
      text-align: center;
      line-height: 3rem;
      .link {
        text-decoration: none;
        font-weight: 600;
        &:hover {
          color: whitesmoke;
          text-decoration: underline;
        }
      }
    }
    &.movie {
      background-color: rgb(26, 4, 53);
    }
    &.tvShow {
      background-color: rgb(35, 7, 67);
    }

    &.books {
      background-color: $primary-purple;
    }
  }

  .collection_container {
    width: 100%;
    height: 60%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    padding: 4rem 1rem;

    &.movie {
      background-color: rgb(26, 4, 53);
    }
    .card {
      &.new_card {
        width: 250px;
        height: 420px;
        &:nth-child(2) p {
          display: none;
        }
        &.card_poster {
          width: 200px;
          height: 100px;
        }
      }
    }

    &.tvShow {
      background-color: rgb(35, 7, 67);
    }

    &.books {
      background-color: $primary-purple;
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .main_container {
    .header {
      .image {
        flex-direction: column;
        width: 100%;
        clip-path: none;
        padding: 2rem;
         .hidden_icon{
        display: contents;
        display: flex;
        align-self:flex-end;
        align-items: center;
        padding-bottom: 3rem;
      }

        .profile_info {
          padding-left: 0;
          margin: 2rem 0;
          justify-content: center;
          flex-direction: column;
          display: flex;
          align-items: center;
          p {
            padding: 0;
            margin-top: 1rem;
          }
        }
        .avatar {
          width: 100px;
          height: 100px;

          .new_circle {
            width: 100px;
            height: 100px;
            font-size: 3rem;
          }

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .settings {
        display: none;
      }
      .icon {
        display: none;
      }
     
    }
    .choose_collection {
      flex-direction: column;
      height: 200px;
      div {
        width: 100%;
        border: none;
        border-bottom: 2px solid whitesmoke;
        &:last-child {
          border-bottom: none;
        }
      }
    }

    .collection_container {
      .card {
        &.new_card {
          width: 180px;
          height: 310px;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 850px) {
  .main_container {
    .header {
      .image {
        .avatar {
          width: 130px;
          height: 130px;

          .new_circle {
            width: 100px;
            height: 100px;
            font-size: 3rem;
          }

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
