@import '../../styles/partials/variables';

.main_container {
  font-family: $primary-font;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #f5f5f5;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 35%;
    position: relative;
   // border-bottom: 2px solid $primary-blue;

    .image {
      width: 75%;
      height: 100%;
      background: $primary-gradient;
      opacity: 0.8;
      clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 4rem;
      color: whitesmoke;
      .avatar {
        width: 200px;
        height: 200px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
          border: 2px solid rgb(126, 87, 194);
        }
      }
      .profile_info {
        padding-left: 3rem;
        h2 {
          text-align: center;
        }
        p {
          padding: 2rem;
        }
      }
    }
    .settings {
      width: 45%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 3rem;
      clip-path: polygon(100% 0, 35% 0, 0 100%, 100% 100%);
      position: absolute;
      top: 0;
      right: 0;
      background: $primary-gradient;
    }
    .icon {
      cursor: pointer;
      font-size: 70px;
      color: rgb(126, 87, 194);
      position: absolute;
      z-index: 10;
      top: 55px;
      right: 60px;
      &:hover {
        color: $primary-blue;
      }
      p {
        font-size: 1rem;
        color: whitesmoke;
      }
    }
  }

  .choose_collection {
    width: 100%;
    height: 6%;
    /*     border: 1px solid $primary-blue;
 */
    display: flex;
    background-color: rgb(224, 219, 227);
    div {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: 2px solid whitesmoke;
    }
  }
}
