@import '../../../styles/partials/variables';
@import '../../../styles/partials/mixin';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  font-family: $primary-font;
  border-radius: 10px;
  width: 95vw;
  height: 95vh;
  padding: 4rem;
  background-color: rgb(253, 252, 252);
  overflow-y: auto;
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 49%;
  transform: translate(-50%, -50%);

  &_top {
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    h2 {
      font-size: $title-page-h2-font-size;
    }
    button {
      background-color: rgb(62, 15, 94);
      color: white;
      font-size: $primary-font-size;
      letter-spacing: 1px;
      border: none;
      border-radius: 10px;
      border: none;
      padding: 0.8rem 1rem;
      cursor: pointer;
      &:hover {
        background-color: white;
        border: 1px solid rgb(62, 15, 94);
        color: rgb(62, 15, 94);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .modal {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    &_top {
      button {
        padding: 0.7rem 1rem;
      }
    }
  }
}
