.loading_container{
    width: 100%;
    height: 800px;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.loading_heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.loading_heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: purple;
  animation: loading_heart  1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.loading_heart div:after,
.loading_heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: purple;
}
.loading_heart  div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.loading_heart  div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}

p{
  padding-top: 2rem;
  text-align: center;
}
@keyframes loading_heart  {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

