@import '../../styles/partials/variables';

.poster_container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;

  padding: 2rem;
  width: 99%;
  border-radius: 1rem;

  .title_box {
    height: 23rem;
    width: 15rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 15%);
    scroll-snap-align: start;
    transition: all 0.2s;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 0.8rem;
    border: 1px solid rgba(255, 255, 255, 0.18);

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }

    h4 {
      font-size: $primary-font-size;
      padding-top: 1rem;
      margin: 0 1rem;
      color: $off-white-text;
    }
  }
}
.movies {
  background-color: $primary-blue;
}

.tvshows {
  background-color: rgb(29, 9, 54);
}

.books {
  background-color: $primary-purple;
}

@media screen and (min-width: 769px) {
  .poster_container {
    .title_box {
      margin: 0.4rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      h4 {
        max-width: 12rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .poster_container {
    .title_box {
      margin: 0.2rem;
      height: 18rem;
      width: 12rem;
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;

      img {
        width: 8rem;
        height: 12rem;
      }
      h4 {
        max-width: 8rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}
@media screen and (max-width: 481px) {
  .poster_container {
    .title_box {
      margin: 0.2rem;
      width: 100%;

      img {
        width: 10rem;
      }
      h4 {
        max-width: 10rem;
      }
    }
  }
}
