@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap';

/*fonts-family*/

$primary-font: 'Montserrat', sans-serif;

/*fonts-sizes*/
$primary-font-size: clamp(0.9rem, calc(0.87rem + 0.14vw), 1rem);
$navbar-left: clamp(1.25rem, calc(2.86rem + -1.79vw), 2.5rem);
$title-page-h2-font-size: clamp(1.3rem, calc(1.1rem + 1vw), 2rem);
$title-page-h3-font-size: clamp(0.95rem, calc(0.88rem + 0.36vw), 1.2rem);
$title-page-center-font-size: clamp(1.3rem, calc(1.04rem + 1.29vw), 2.2rem);

$landing_title_text: clamp(3rem, calc(-0.14rem + 15.71vw), 14rem);
$landing_under_title_text: clamp(0.5rem, calc(0.27rem + 1.14vw), 1.3rem);


$explore_h1_size:clamp(1rem, 0.5rem + 2.5vw, 3rem);

/*spaces*/
$dropdown-menu-side-space: clamp(8rem, calc(-2.07rem + 50.36vw), 43.25rem);

/*colors*/

$primary-purple: rgb(49, 12, 73);
$primary-blue: rgb(2, 4, 54);
$primary-gradient: linear-gradient(
  316deg,
  rgb(2, 4, 54) 0%,
  rgb(49, 12, 73) 74%
);
$off-white-text: #dedbdb;
