@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

// @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

a:hover {
  color: red;
}

/*Header*/

.navbar {
  position: relative;
  padding: 0 2rem;
  width: 100%;
  height: 4rem;
  max-width: 75rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  // font-family: "Roboto", sans-serif;
  // font-family: "Raleway", sans-serif;

  .logo a {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .links {
    display: flex;
    gap: 2rem;
  }

  .action_btn {
    background-color: #52039c;

    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #000;
      color: #fff;
    }
    &:active {
      scale: 0.9;
    }
  }

  .toggle_btn {
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    display: none;
  }
}

/*Responsive Burger Menu*/
@media screen and (max-width: 768px) {
  .navbar {
    .links a,
    .action_btn {
      display: none;
    }

    .toggle_btn {
      display: block;
    }
  }
}
