@import '../../styles/partials/variables';
@import '../../styles/partials/mixin';

ul li a {
  text-decoration: none;
  color: #d1cece;
}

/*Navbar*/

.navbar {
  // position: relative;
  width: 100%;
  height: 8rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $primary-font;
  background-image: $primary-gradient;

  .navbar_left {
    display: flex;
    align-items: center;
    width: 50rem;

    .logo {
      img {
        width: 7rem;
        height: 7rem;
      }
      &_mobile {
        display: none;
      }
    }

    .links_left {
      display: flex;
      gap: 2rem;
      padding: 0rem 2rem;
      font-size: $primary-font-size;
      li {
        list-style: none;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .toggle_btn {
    color: #d1cece;
    font-size: 2rem;
    cursor: pointer;
    display: none;
  }

  /*Navbar logged in right side*/

  .loggedin_navbar_right {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    white-space: nowrap;

    li {
      list-style: none;
      &:hover {
        transform: scale(1.1);
      }
    }

    & a {
      text-decoration: none;
      color: #d1cece;
    }
  }
}
.search {
  &_bar {
    display: flex;
    align-items: center;
    width: 90%;
    background-color: #f2f2f2;
    border-radius: 1.3rem;
    padding: 0.5rem 1rem;
    // margin-right: 2rem;
    // margin-left: 1rem;

    input {
      flex: 1;
      border: none;
      background-color: transparent;
      outline: none;
      font-size: $primary-font-size;
    }
  }
  &_icon {
    font-size: 1.5rem;
    color: #808080;
    cursor: pointer;
  }
}

/*Drop down menu*/

.dropdown_menu {
  display: none;
  position: absolute;
  font-family: $primary-font;
  white-space: nowrap;
  height: 0;
  background-color: rgba(36, 5, 55, 0.8);
  backdrop-filter: blur(0.5rem);
  border-radius: 0.6rem;
  overflow: hidden;
  top: 58%;
  right: 50%;
  transform: translate(50%, -50%);
  transition: height 0.2 cubic-bezier(0.175, 0.885, 0.32, 1.275);

  li {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: $dropdown-menu-side-space;
    padding-right: $dropdown-menu-side-space;
    display: flex;
    justify-content: center;

    &:first-child {
      padding-top: 2rem;
    }

    & a {
      text-decoration: none;
      color: whitesmoke;
      font-size: $primary-font-size;
    }
  }

  &.open {
    height: 90vh;
  }

  .menu_search_bar {
    align-items: center;
    width: 90%;
    background-color: #f2f2f2;
    border-radius: 1.3rem;
    padding: 0.7rem 1rem;
    margin: 1rem auto;

    input {
      flex: 1;
      border: none;
      background-color: transparent;
      outline: none;
      font-size: $primary-font-size;
    }
  }
}

/*buttons in Navbar and dropdown menu*/
.btns_container {
  &_navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15rem;
    padding-right: 2rem;
    gap: 1rem;

    .btn_links button {
      @include gradient_hover_btn_theme;
    }
  }

  &_dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem;

    .btn_links button {
      @include gradient_hover_btn_theme;
      margin: 0 1rem;
    }
  }
}

/*Responsive Burger Menu*/
@media screen and (max-width: 768px) {
  .navbar {
    .links_left,
    ul li a,
    .btns_container_navbar,
    .loggedin_navbar_right,
    .btns_container_navbar button {
      display: none;
    }

    .toggle_btn {
      justify-self: flex-end;
      display: block;
      padding-right: 2rem;
    }

    .navbar_left .logo {
      &_mobile {
        display: block;
      }
      &_desktop {
        display: none;
      }
    }

    // searchbar display in dropdown menu
    .navbar_left .search_bar {
      display: none;
    }
  }

  .dropdown_menu {
    display: block;
    .profileCircle {
      display: flex;
      justify-content: center;
      padding-bottom: 1rem;
      padding-top: 1rem;
    }
  }
}
