@import '../../styles/partials/variables';
@import '../../styles/partials/mixin';

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;

  &:hover {
    color: black;
  }
}

/*Navbar*/

.navbar {
  position: relative;
  padding: 0 2rem;
  width: 100%;
  height: 4rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $primary-font;

  .navbar_left {
    display: flex;
    align-items: center;

    .links_left {
      display: flex;
      gap: 2rem;
      padding: 0rem 4rem;
      font-size: 1rem;
    }
  }

  .toggle_btn {
    color: rgb(53, 4, 53);
    font-size: 2rem;
    cursor: pointer;
    display: none;
  }
}

/*Drop down menu*/

.dropdown_menu {
  display: none;
  position: absolute;

  height: 0;
  background-color: rgba(12, 7, 7, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 0.6rem;
  overflow: hidden;
  top: 53%;
  right: 50%;
  transform: translate(50%, -50%);
  transition: height 0.2 cubic-bezier(0.175, 0.885, 0.32, 1.275);

  li {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: $dropdown-menu-side-space;
    padding-right: $dropdown-menu-side-space;
    display: flex;
    justify-content: center;

    & a {
      text-decoration: none;
    }
  }

  &.open {
    height: 90vh;
  }
}

/*buttons in Navbar and dropdown menu*/
.btns_container {
  &_navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 13rem;

    .btn_links button {
      @include navbar_gradient_btn_theme;
    }
  }
}

/*Responsive Burger Menu*/
@media screen and (max-width: 768px) {
  .navbar {
    .links_left,
    ul li a,
    .btns_container_navbar,
    .btns_container_navbar button {
      display: none;
    }

    .toggle_btn {
      justify-self: flex-end;
      display: block;
    }
  }

  .dropdown_menu {
    display: block;
  }
}
