.upper_container {
  display: flex;
  flex-direction: column;
  //   justify-content: center;
  align-items: center;
  .icons_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
