@import '../../../styles/partials/variables';

.info_container {
  font-family: $primary-font;
  display: flex;
  flex-direction: column;
  color: $off-white-text;
  font-size: $primary-font-size;

  .upper_container {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: center;
    position: relative;
    z-index: 3;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: var(--background-img);
    padding: 1rem 2rem;

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: -1;
    }

    &_left {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 2rem;
      .poster_image {
        height: auto;
      }

      .title_name {
        font-size: $title-page-h2-font-size;
        display: none;
      }
      .icons_container_under_poster {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 2rem 0 0 0;

        &:hover {
          cursor: pointer;
        }
      }
    }

    &_right {
      padding-right: 2rem;
      display: flex;
      flex-flow: column wrap;
      text-align: start;
      overflow-wrap: break-word;
      line-height: 1.5;
      gap: 1rem;

      .overview {
        padding-bottom: 1rem;
      }

      .title_name {
        font-size: $title-page-h2-font-size;
      }
      .tag_line {
        font-style: italic;
      }

      h3 {
        font-size: $title-page-h3-font-size;
        text-transform: uppercase;
      }

      .mapped_info_container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1rem;
        height: 15rem;
        font-size: $primary-font-size;
      }
    }
  }
  .icons {
    background: $primary-gradient;

    &_container {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 1rem;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

/*media queries*/

@media screen and (min-width: 769px) {
  .info_container {
    .icons {
      height: 4.6rem;
      &_container {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .info_container {
    .upper_container {
      &_right {
        padding-left: 2rem;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .info_container {
    .upper_container {
      flex-wrap: wrap;
      justify-content: center;

      &_left {
        .title_name {
          display: block;
          padding: 2rem 1rem 0rem 1rem;
        }
        .icons_container_under_poster {
          display: none;
        }
      }

      &_right {
        .title_name {
          display: none;
        }
        .mapped_info_container {
          margin-bottom: 1rem;
        }
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .info_container {
    .upper_container {
      &_right {
        .mapped_info_container {
          flex-wrap: nowrap;

          h3,
          p {
            font-size: 0.75rem;
          }
        }
      }
    }
  }
}
