@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.contact_container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;

  .container {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .illustration {
      //flex-shrink: 0;
      width: 350px;
      height: 550px;
      border: 1px solid rgb(94, 15, 79);
      border-radius: 8px 100px 8px 8px;
      background-position: center;
      background-image: url(../../../assets/undraw_social_girl_re_kdrx.svg);
    }
  }

  .form_container {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    .contact_text {
      height: 35%;
      margin-top: 6rem;
      h1 {
        text-align: center;
        font-size: 1.3rem;
      }
      p {
        font-size: 1.1rem;
        padding: 1rem;
        text-align: left;
      }
    }

    .contact_form {
      height: 60%;

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 500px;

        input,
        textarea {
          display: block;
          line-height: 3rem;
          margin: 1rem;
          width: 25rem;
          border: 1px solid rgb(94, 15, 79);
          border-radius: 16px;
          &::placeholder {
            padding: 0.5rem;
              font-family: 'Montserrat', sans-serif;

          }
          textarea {
            height: 16rem;
          }
        }
        .submit {
          background-color: rgb(94, 15, 79);
          color: white;
          width: 25rem;
          height: 3rem;
          font-size: 1.2rem;
          letter-spacing: 1px;
          border: none;
          border-radius: 16px;
          border: none;
          cursor: pointer;
          &:hover {
            background-color: white;
            border: 1px solid rgb(94, 15, 79);
            color: rgb(94, 15, 79);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 876px) {
  .contact_more {
    display: flex;
    align-items: center;
    pointer-events: none;
    width: 55%;
    margin-left: 17rem;
    &:hover {
      pointer-events: auto;
    }

    h4 {
      font-size: 2rem;
      text-transform: uppercase;
      cursor: pointer;
      pointer-events: auto;
    }
    .line {
      width: 15rem;
      height: 3px;
      background-color: rgb(94, 15, 79);
      margin-left: 2rem;
      margin-right: auto;
      transform: scaleX(0.2);
      transform-origin: left;
      transition: transform 0.5s;
    }
  }

  .contact_more:hover .line {
    transform: scaleX(1);
  }
  .list {
    display: flex;
    list-style: none;
  }
  .item {
    margin-inline: 2.5rem;
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
  }
  .item:nth-child(odd) {
    transform: translateY(5rem);
  }
  .item:nth-child(even) {
    transform: translateY(-5rem);
  }
  .contact_more:hover .item {
    opacity: 1;
    transform: translateY(0);
  }
  .link {
    font-size: 2rem;
  }
}
